#root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.mainContentContainer{
    top: 140px;
    position: absolute;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    bottom: 0;
}

.headerImg{
    position: absolute;
    top: 0;
    width: 1200px;
    height: 120px;
    padding-bottom: 20px;
}

.App{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.streamContainer{
    width: 500px;
}

@media only screen and (max-width: 900px) {
    .mainContentContainer{
        flex-direction: column;
        align-items: center;
    }
}