.chatContainer {
    border: 1px solid rgb(97, 67, 4);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    max-height: 800px;
    width: 400px;
    height: 80%;
    /* overflow: hidden; */
    padding: 5px;
    margin-left: 30px;
}

.msgForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.chatContents{
    background-color: rgba(0, 255, 255, 0.071);
    border: 1px solid rgb(97, 67, 4);
    border-radius: 3px;
    width: 400px;
    height: 100%;
    max-height: 800px;
    min-height: 320px;
    overflow-y: scroll;
}

.chatItem {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sender {
    font-size: 11px;
    font-style: italic;
}

.myMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
    padding-left: 5px;
}

.myMessage .sender {
    color: rgb(132, 79, 15);
}

.opMessage{
    padding-right: 5px;
    padding-left: 5px;
}

.opMessage .sender{
    color: rgb(58, 163, 130);
}