.chatContainer {
    border: 3px solid rgba(255, 38, 0, 0.445);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 750px;
    /* overflow: hidden; */
    padding: 5px;
    margin-left: 30px;
}

.msgForm{
    padding-bottom: 15px;
}

.chatContents{
    border: 3px solid rgba(255, 38, 0, 0.445);
    border-radius: 3px;
    width: 700px;
    height: 700px;
    overflow-y: scroll;
}

.chatItem {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sender {
    font-size: 11px;
    font-style: italic;
}

.myMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
}

.myMessage .sender {
    color: beige;
}

.opMessage{
    padding-left: 5px;
}

.opMessage .sender{
    color: rgb(95, 239, 193);
}