:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(7, 0, 0, 0.87);
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: row;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
