.loginWindow{
    background-color: beige;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

.submitLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginWindow button{
    margin: 8px;
    background: none;
    background-color: rgb(236, 210, 127);
}

.logoutContainer{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutButton{
    margin: 5px;
    background: none;
    font-size: 12px;
}