.playerContainer{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 10px;
}

.streamContainer{
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
}

audio{
    margin: 5px;
    border: 1px solid black;
    background: yellow;
    width: 420px;
    height: 100px;
}


@media only screen and (max-width: 900px) {
    audio{
        width: 300px;
    }
}