Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-508228725946"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/etc/pki/tls/certs/server.crt" :
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDpzCCAo8CFDFXbTNZO0nafI+40uM9LkT9xh6eMA0GCSqGSIb3DQEBCwUAMIGP
      MQswCQYDVQQGEwJVUzERMA8GA1UECAwITmV3IFlvcmsxEjAQBgNVBAcMCVJpZGdl
      d29vZDEaMBgGA1UECgwRR3JlYXQgVHVuZXMgUmFkaW8xFzAVBgNVBAMMDmdyZWF0
      dHVuZXMubmV0MSQwIgYJKoZIhvcNAQkBFhVoamFja3NvbjI3N0BnbWFpbC5jb20w
      HhcNMjMxMDEyMTgyMjU5WhcNMjQxMDExMTgyMjU5WjCBjzELMAkGA1UEBhMCVVMx
      ETAPBgNVBAgMCE5ldyBZb3JrMRIwEAYDVQQHDAlSaWRnZXdvb2QxGjAYBgNVBAoM
      EUdyZWF0IFR1bmVzIFJhZGlvMRcwFQYDVQQDDA5ncmVhdHR1bmVzLm5ldDEkMCIG
      CSqGSIb3DQEJARYVaGphY2tzb24yNzdAZ21haWwuY29tMIIBIjANBgkqhkiG9w0B
      AQEFAAOCAQ8AMIIBCgKCAQEAv68PwIFnhYTIOyVPhURGeyM77/QtbTVDS2ba2HiG
      EE7AA17RMl4XEjgfubHbkJDzfjTlkZOwlQBoixw4CW1xftxE9qkwfiUWTSApyf7v
      GAzSBjh4M0e3YjQUWW1V2xXJ/WCc3dqg303rO/oVVbMDnnifeMBVChegnMkuINmx
      mv14wKIzWjG9Sw16gWo0IiZqnBwayLzflLLGKjUwU4Yc7vQO4/Nc4EiEdEjWl0+R
      d3FLV9BeXG35TX8TTTu5EPcGEySVUump104WVNfEOO4rb3M4ZQB05H5/uzivfxW8
      0h7/CNSAJHXlA/na41q3SZAF8wdakbm1N33EcF93PS7GDwIDAQABMA0GCSqGSIb3
      DQEBCwUAA4IBAQAPIjww6rWJ83kNgVoY2eLw6nNbCgg0mWW47qvEme8Xf8P/iCdF
      kMpa2Zl+a6DcQ9HRq1kY5G6Oin/fsY+oUS9y6mhLrlftc3cQws2PA75vXm5nRqOg
      EOUf/KZkKXYX3cVOdGTc5TebJuo8dQMKHowcYHTiS1vmT4OyAAsisS7fXmrZZenB
      kxdKxcFiAIcayL3jk5KbKHmxn0xvbz10HaQPerpg+mqfeyxRXVl58P8wIRqE3eZh
      F541VOABP+IKucw2gy1Rp1ckLYljJB052h4XgpGEa1Xq9T2dord0c4es1vQdw23V
      6HdNJUk6MY/Se8vWIdA6UZprnatZVZiNPM4w
      -----END CERTIFICATE-----
      
  "/etc/pki/tls/certs/server.key" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-508228725946.s3.amazonaws.com/privatekey.pem
