option_settings:
    aws:elb:listener:
        ListenerEnabled: true
        ListenerProtocol: HTTP
        InstancePort: 3000
        InstanceProtocol: HTTP
    aws:elb:listener:3000:
        ListenerEnabled: true
        ListenerProtocol: HTTP
        InstancePort: 3000
        InstanceProtocol: HTTP
    aws:elb:listener:8000:
        ListenerEnabled: true
        ListenerProtocol: HTTP
        InstancePort: 8000
        InstanceProtocol: HTTP
    aws:elb:listener:1935:
        ListenerEnabled: true
        ListenerProtocol: HTTP
        InstancePort: 1935
        InstanceProtocol: HTTP