.chatContainer {
  --chat-bg-color: #f5f6f5;
  --chat-width: 400px;
  border: 1px solid rgb(225, 232, 225);
  box-shadow: 0px 0px 17px -4px var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: var(--chat-width);
  height: 100%;
  border-radius: 2px;
  background-color: #eaefea;
  resize: vertical;
  min-height: 450px;
  height: 450px;
  max-height: fit-content;
  max-width: fit-content;
  overflow: auto;
  position: relative;
  padding-bottom: 8px;
}

.outerChatContainer{
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  min-height: 400px;
  margin-top: 15px;
}

.loggedInAs{
  font-style: italic;
  font-size: 12px;
}

.msgForm{
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding-bottom: 0px;
}

.msgForm button{
  background: none;
}

.msgFormInput{
  font: var(--main-font);
  font-size: 15px;
  max-height: 80px;
  min-height: 18px;
  border: 1px solid black;
  line-height: 18px;
  width: 240px;
  max-width: 240px;
  min-width: 240px;
  resize: none;
}

.chatContents{
  background-color: var(--chat-bg-color);
  width: var(--chat-width);
  height: 100%;
  max-height: 1000px;
  min-height: 320px; 
  overflow-y: scroll;
  scrollbar-width: thin;
  box-shadow: 0 0 10px 10px var(--chat-bg-color);
  margin-bottom: 10px;
  z-index: 2;
}

.chatItem {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.sender {
  font-size: 11px;
  font-style: italic;
}

.messageContents{
  overflow-wrap: break-word;
  max-width: 200px;
}

.myMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5px;
  padding-left: 15px;
}

.opMessage{
  padding-right: 15px;
  padding-left: 5px;
}

.chatError{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
}

.chatErrorMsg{
  font-size: 12px;
  color: rgb(176, 11, 11) 
}

.logoutButton{
  position: absolute;
  margin: 5px;
  background: none;
  font-size: 12px;
}

#sendButton{
  background-color: var(--chat-bg-color);
  margin-left: 5px;
}

.chatContents::-webkit-scrollbar {
  width: 4px;
}

.chatContents::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chatContents::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
.chatContents::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 900px) {
  .chatContainer {
    width: 320px;
    max-height: 800px;
  }
  .chatContents{
    width: 320px;
  }
  .outerChatContainer{
    padding-right: 0px;
    margin-left: 0px;
    max-height: 850px;
  }
}

@media only screen and (max-width: 450px) {
  .chatContainer {
    max-height: 420px;
  }
  .outerChatContainer{
    max-height: 450px;
  }
}
