.chatContainer {
    border: 1px solid rgb(97, 67, 4);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    max-height: 800px;
    width: 400px;
    height: 80%;
    /* overflow: hidden; */
    padding: 5px;    
}

.outerChatContainer{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loggedInAs{
    font-style: italic;
    font-size: 12px;
}

.msgForm{
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
}

.msgForm button{
    background: none;
}

.msgFormInput{
    border: 1px solid black;
    margin: 5px;
    line-height: 18px;
    width: 180px;
}

.chatContents{
    background-color: rgba(0, 255, 255, 0.071);
    border: 1px solid rgb(97, 67, 4);
    border-radius: 3px;
    width: 400px;
    height: 100%;
    max-height: 800px;
    /* need to change min height when not logged in */
    min-height: 320px; 
    overflow-y: scroll;
}

.chatItem {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.sender {
    font-size: 11px;
    font-style: italic;
}

.messageContents{
    overflow-wrap: break-word;
    max-width: 200px;
}

.myMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
    padding-left: 15px;
}

.myMessage .sender {
    color: rgb(132, 79, 15);
}

.opMessage{
    padding-right: 15px;
    padding-left: 5px;
}

.opMessage .sender{
    color: rgb(39, 132, 103);
}

.chatError{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
}

.chatErrorMsg{
    font-size: 12px;
    color: rgb(176, 11, 11) 
}

.logoutButton{
    margin: 5px;
    background: none;
    font-size: 12px;
}


@media only screen and (max-width: 900px) {
    .chatContainer {
        width: 320px;
    }
    .chatContents{
        width: 320px;
    }
    .outerChatContainer{
        margin-left: 0px;
    }
}