.currentlyPlayingContainer{
  max-width: 450px;
}

.currentlyPlayingList {
  list-style-type: none;
}


.titleLineBreak{
  margin-bottom: 12px;
}


@media only screen and (max-width: 900px) {
  .currentlyPlayingContainer{
    margin-left: 20px;
    max-width: 350px;
  }
}
