@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&family=Roboto:ital,wght@0,500;1,500&display=swap');

:root {
  --main-font:'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --header-font:'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --background-color:#f8f8f8;
  --hover-color:#464a4c;
  --hover-color-light: #eeefed;
  font-family: var(--main-font);
  color: rgba(7, 0, 0, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a{
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0ms;
}

a:hover{
  color: var(--hover-color);
}

button{
  transition: all 0.15s ease-in-out 0ms;
}

.defaultButton{
  background-color: var(--background-color);
  font: var(--main-font);
  font-size: 14px;
  border: 1px solid black;
}

.defaultButton:hover{
  background-color: var(--hover-color-light);
}

.defaultTextInput{
  font: var(--main-font);
  font-size: 14px;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  overflow-wrap: break-word;
  background-color: var(--background-color);
  column-count: initial !important;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  border-radius: 1px;
}

.defaultSelect{
  font: var(--main-font);
  font-size: 14px;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  overflow-wrap: break-word;
  background-color: var(--background-color);
  column-count: initial !important;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  border-radius: 1px;
}

input:focus {
  outline:1.3px solid black;
}

@media screen and (max-width: 700px) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
