.radioContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .radioContainer{
    flex-direction: column;
    align-items: center;
  }
}
