.loginWindow{
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --border: 1px solid black;
  width: 250px;
  height: 250px;
  border-radius: 2px;
}

.submitLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoutContainer{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  font-size: 12px;
}

.loginErrorMsg{
  font-size: 12px;
  color: rgb(176, 11, 11);
}

.loggedInAs{
  font-style: italic;
  font-size: 12px;
}

.createOrAlreadyHaveAccBtn{
  background: none;
  border: none;
  font: var(--main-font);
  font-style: italic;
}

.createOrAlreadyHaveAccBtn:hover{
  color: #464a4c;
}

.submitButton{
  background-color: var(--background-color);
  font: var(--main-font);
  font-size: 14px;
  border: 1px solid black;
}

.submitButton:hover{
  background-color: var(--hover-color);
}
