.pageNav{
    display: flex;
    padding: 50px;
    list-style-type: none;
}

.pageNav * {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.activePage {
    text-decoration-line: underline;
}

.searchResults{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* need to fix off center larger posts */
.post * {
    width: 500;
}

.postList{
    list-style-type: none;
}

.postTitle{
    font-style: italic;
}
