.playerContainer{
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
  padding-right: 10px;
  padding-left: 10px;
  width: 500px;
}

.playerContainer > * {
  margin-left: 2px;
  margin-right: 2px;
}

.streamContainer{
  margin-left: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
}

.playStopButton{
  margin-left: 5px;
  border: none;
  background: none;
  padding: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}

.playStopButton:hover *{
  color: var(--hover-color);
}

.player{
  margin: 5px;
  width: 420px;
}

.playStopButton svg {
  width: 22px;
  height: 22px;
}

.songTitle{
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 500;
}

.volumeControlContainer{
  display: flex;
  flex-direction: row;
}

.volumeControl{
  -webkit-appearance: none;
  appearance: none;
  outline: none; 
  transform: translateX(-39px) translateY(70px) rotate(-90deg); 
  animation: volumeGrow .1s;
  position: absolute;
  display: none;
  background: black;
  border-radius: 2px;
  height: 5px;
  width: 100px;
}

.volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  background: var(--background-color);
  border-radius: 50%;
  border: 1px solid black;
}

.volumeControl::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: var(--background-color);
  border-radius: 50%;
  border: 1px solid black;
}

.volumeControl::-moz-range-thumb:hover{
  border: 1px solid var(--hover-color);
}

.volumeControl::-webkit-slider-thumb{
  border: 1px solid var(--hover-color);
}

.volumeHover{
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.volumeHover:hover *{
  color: var(--hover-color);
}

.volumeHover:hover + .volumeControl {
  display: block;
}

.volumeControl:hover + .volumeHover {
  background-color: var(--hover-color);
}

.volumeControl:hover {
  display: block;
  background-color: var(--hover-color);
}

@keyframes volumeGrow {
  from {
    transform: translateX(-39px) translateY(70px) rotate(-90deg) scale(0); 
  }
  to {
    transform: translateX(-39px) translateY(70px) rotate(-90deg) scale(1); 
  }
}

@media only screen and (max-width: 900px) {
  .streamContainer {
    margin-left: 0px;
    margin-right: 0px;
  }

  .playerContainer{
    width: 350px;
  }
}



