.playerContainer{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 10px;
}

.streamContainer{
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
}

.player{
    margin: 5px;
    width: 420px;
}


@media only screen and (max-width: 900px) {
    .player{
        width: 300px;
    }
}
